<div class="app animated fadeIn" *ngIf="pageState.ready">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 section dark center space-bottom">
        <div class="logo">
          <img src="img/angular-icon.svg" alt="angular-logo" />
        </div>
        <h1>Angular Training</h1>
        <p class="top-space bigger text-grey">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
        <a href="/#" class="round-button top-space-m" onclick="javascript:alert('Do not ask what I am doing!');">Get Strated</a>
        <nav-component title="{{title}}"></nav-component>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer>
    <p>COPYRIGHT © BY TUGG 2017 @ MANAO SOFTWARE</p>
    <p> E-MAIL: syamkong@manaosoftware.com</p>
  </footer>
</div>