<div class="col-md-12 section left">
  <h1>{{title}}</h1>

  <blockquote class="top-space">
    Angular's hierarchical dependency injection system supports nested injectors in parallel with the component tree.
  </blockquote>
</div>

<div class="col-md-12 section grey left">
  <div class="block">
    <blockquote>
      <b>The injector tree</b>
    </blockquote>
    <p> An Angular application is a tree of components. Each component instance has its own injector. The tree of components parallels the tree of injectors.</p>
    <br/>
    <img src="/img/fg30.png" />
  </div>

</div>