<div class="col-md-12 section left">
  <h1>{{title}}</h1>

  <blockquote class="top-space">
    Angular's hierarchical dependency injection system supports nested injectors in parallel with the component tree.
  </blockquote>
</div>

<div class="col-md-12 section grey left">
  <div class="block">
    <blockquote>
      <b>The injector tree</b>
    </blockquote>
    <p> An Angular application is a tree of components. Each component instance has its own injector. The tree of components parallels the tree of injectors.</p>
    <br />
    <img src="/img/fg30.png" />
  </div>

  <div class="block">
    <blockquote>
      <b>
        Injector bubbling
      </b>
    </blockquote>
    <p>
      When a component requests a dependency, Angular tries to satisfy that dependency with a provider registered in that component's own injector. If the component's injector lacks the provider, it passes the request up to its parent component's injector. If that injector can't satisfy the request, it passes it along to its parent injector. The requests keep bubbling up until Angular finds an injector that can handle the request or runs out of ancestor injectors. If it runs out of ancestors, Angular throws an error.
    </p>
    <p>Example in: components > chapters > inject-tree</p>
    <button type="button" class="btn btn-success" routerLink="/dependency/inject">Injection</button>
    <router-outlet></router-outlet>
  </div>

  <div class="block">
    <blockquote>
      <b>
        Re-providing a service at different levels
      </b>
    </blockquote>
    <p>We can re-provide a service on different level, but you should not do that!  unless you have a good reason</p>
  </div>

  <div class="block">
    <blockquote>
      <b>
        Component injectors
      </b>
    </blockquote>
    <p>The ability to configure one or more providers at different levels opens up interesting and useful possibilities.</p>
    <br />
    <p>
      <b>Scenario: service isolation</b>
      Architectural reasons may lead you to restrict access to a service to the application domain where it belongs.
    </p>
    <p>Example: Move services to lower lavel that they actually use. Prevent the error of the entire app if something wrong with those services</p>
    <br /><br />
    <p>
      <b>Scenario: multiple edit sessions</b>
    </p>
    <p>
      If we move the service provider to the editor level we can use ability of it to do a cache or undo pattern for each module intead of singleton, because if we attach services on higher level the services will shared the data to the child level
    </p>
    <br />
    <p>
      <b>Scenario: specialized providers</b>
    </p>
    <p>Another reason to re-provide a service is to substitute a more specialized implementation of that service, deeper in the component tree.</p>
    <img src="/img/fg31.png" />
    <br/>
    <br />
  </div>

</div>